#body-404 {
  margin: 0;
  background: white;
}

#body-404 .section-title {
  font-size: 4em;
  margin: 0 0 0.7em;
}

#home-link-404 {
  font-weight: 700;
}

#footer-404 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  display: inline-block;
  height: 3.5em;
}

#body-container.body-container-404 {
  margin: 5em 0;
}

#body-content-404 .section-content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  #body-404 {
    padding: 0;
    margin: 0;
    background: lightgray;
  }

  #body-container.body-container-404 {
    margin: 0 auto;
    width: 75%;
    background: white;
  }

  #body-content-404 {
    margin: 0;
    padding: 7em 0 11em;
  }
}