.rotated {
  transform: rotate(180deg);
}

.no-wrap {
  white-space: nowrap;
}

.hidden-on-mobile {
  display: none;
}

.column {
  flex: 50%;
}

div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon {
  vertical-align: middle;
}

.clickable {
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}