#contact-images-wrapper {
  margin: 1em 0;
  text-align: left;
}

#contact-images-wrapper img {
    width: auto;
    height: 10em;
    display: inline-block;
}

.contact-image-border-tapped {
  background: lightgray;
}

.contact-subsection-title {
  font-size: 1.2em;
  margin: 1em 0 1em;
}

.contact-subsection-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contact-subsection-left-column {
  margin: 0 1.5em 0 0;
}

#contact-basic-contact-content li {
  margin: 0.2em 0;
}

#contact-google-map {
  width: 100%;
  margin: 1em 0;
}

#contact-images-wrapper > span > div {
  text-align: justify;
  overflow: hidden;
}

img#contact-images-big-image {
  height: auto;
  width: 100%;
  margin: 2em auto;
  display: block;
}

.contact-image-border {
  margin: 0.5em 0.5em;
}

#contact-image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

#contact-image-gallery-first-img {
  transform: translateX(-5%);
}

#contact-image-gallery-third-img {
  transform: translate(-7%, -23%);
}

.contact-image-gallery-box {
  height: 7em;
  width: 7em;
  overflow: hidden;
  position: relative;
}

.contact-image-gallery-box img {
  position: absolute;
  transform: translateX(-25%);
}

.contact-image-gallery-border {
  border: 2px solid #ccc;
  border-radius: 5%;
  padding: 0.8em;
  margin: 0.5em;
  background-color: #ddd;
  display: inline-block;
}

#contact-images-big-image-container {
  width: 100%;
}

.contact-image-border-tapped.contact-image-gallery-border {
  background-color: rgba(49, 125, 151, 0.301);
  border-color: rgba(1, 109, 145, 0.4);

}