body {
  font-family: Open Sans,sans-serif;
  background-color: lightgray;
  font-size: calc(12px + .4vw);
}

#contact-banner {
  padding: 1em 0em 1em 2em;
  background-color: rgb(161, 161, 161);
}

.contact-banner-section {
  margin: 0 1em;
}

#nav-container, #nav-container-mobile {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 10;
}

#nav-fullwidth, #nav-container-mobile {
  background-color: rgb(61, 141, 34);
  overflow: hidden;
}

#nav {
  width: 60%;
  text-align: center;
  margin: auto;
  color: rgb(202, 216, 198);
  font: 500;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
}

#company-name {
  flex-grow: 5;
  white-space: nowrap;
}

#nav-buttons {
  flex-grow: 7;
}

#nav-buttons ul {
  margin: 0;
}

#company-name, #nav-buttons li, #nav-container-mobile {
  color: white;
}

#company-name, #nav-buttons li {
  display: inline-block;
  padding: 1.3em 0;
}

#nav-buttons li {
  padding-left: 1em;
  padding-right: 1em;
}

#nav-buttons li:hover {
  background-color: rgb(45, 105, 26);
}

.body-container, #nav-arrow-container-mobile {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
}

#nav-arrow-container-interior {
  width: 25%;
  margin: auto;
  background-color: lightgray;
}

.lead {
  width: 90%;
  text-align: center;
  margin: auto;
}

.promo {
  font-size: 1.5em;
  padding: 1.5em 2em;
  margin: 0;
}

.section {
  margin: 1em 2em;
}

.section-title {
  font-size: 2.5em;
  margin: 1em;
  font-weight: 700;
}

.section-content {
  line-height: 1.5em;
  text-align: justify;
}

.news-item {
  margin: 1em 0;
}

.news-date {
  font-size: 0.8em;
  font-style: italic;
}

#news-load-more {
  font-size: 0.8em;
  color: rgb(46, 105, 160);
}

#products-content li {
  list-style: disc;
  font-size: 0.8em;
  margin: 0 0 0 2em;
}

.hidden, #nav.hidden {
  display: none;
}

.product-title {
  padding: 0.5em;
  background-color: rgb(167, 167, 167);
  font-size: 1.1em;
}

.products-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.product-title:hover {
  background-color: rgb(109, 109, 109);
}

#products-sections-wrapper {
  margin: 0 0 1em;
}

#products-contact {
  color: rgb(46, 105, 160);
}

.clickable {
  cursor: pointer;
}

.nowrap {
  white-space: nowrap;
}

.contact-subsection-title {
  font-size: 1.2em;
  margin: 1em 0 1em;
}

.contact-subsection-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.contact-subsection-left-column {
  margin: 0 1.5em 0 0;
}

#contact-basic-contact-content li {
  margin: 0.2em 0;
}

.text-align-center {
  text-align: center;
}

#contact-google-map {
  width: 100%;
  margin: 1em 0;
}

.icon {
  vertical-align: middle;
}

#contact-images-wrapper > span > div {
  text-align: justify;
  overflow: hidden;
}

img#contact-images-big-image {
  height: auto;
  width: 100%;
  margin: 1em auto 2em;
  padding: 1em 0em 3em;
  display: block;
}

.rotated {
  transform: rotate(180deg);
}

.no-wrap {
  white-space: nowrap;
}

.hidden-on-mobile {
  display: none;
}

/* Navbar mobile */
#nav-buttons-mobile {
  display: flex;
}

.column {
  flex: 50%;
}

.nav-button-item-mobile {
  margin: 1em 0;
}

#navbar-mobile {
  margin: 1em 0 0;
}

#nav-container-mobile {
  transition: max-height 0.4s ease-out;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead {
    width: 75%;
  }

  #nav-arrow-container {
    display: none;
  }

  .body-container, #nav-arrow-container {
    width: 75%;
  }

  #nav-fullwidth.hidden-on-mobile {
    display: block;
  }

  .hidden-on-desktop {
    display: none;
  }
}