body {
  font-family: Open Sans,sans-serif;
  background-color: lightgray;
}

.nav-container {
  background-color: rgb(61, 141, 34);
  padding: 2em;
}

.nav {
  width: 60%;
  text-align: center;
  margin: auto;
  color: rgb(202, 216, 198);
  font: 500;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
}

.company-name {
  color: white;
  flex-grow: 5;
}

.nav-buttons {
  color: white;
  flex-grow: 7;
}

.nav li {
  text-transform: initial;
  display: inline;
  margin: 2em 1em;

}

.body-container {
  width: 75%;
  margin: auto;
  text-align: center;
  background-color: white;
}

.lead {
  width: 75%;
  text-align: center;
  margin: auto;
}

.promo {
  font-size: 1.5em;
  padding: 1.5em 2em;
  margin: 0;
}

.section-title {
  font-size: 2.5em;
  margin: 1em;
}

.section-content {
  line-height: 1.5em;
}